# ============================================================
# IMAGE
# ============================================================

IMAGE_TAG=local


# =======================================================
# POSTGRESQL
# =======================================================

# POSTGRES_USER=postgres
# POSTGRES_PASSWORD=root12_known
# POSTGRES_DB=expense_claims


