
# ============================================================
# BACKEND
# ============================================================

PORT=5000

DATABASE_URL=

# FRONTEND_URL=http://nginx

JWT_SECRET=


# ============================================================
# AZURE DOCUMENT INTELLIGENCE
# ============================================================

AZURE_ENDPOINT=
AZURE_API_KEY=


# ============================================================
# AZURE STORAGE
# ============================================================

AZURE_STORAGE_ACCOUNT_NAME=
AZURE_STORAGE_ACCOUNT_KEY=
AZURE_STORAGE_CONTAINER_NAME=


# to be added to github secrets
# AZURE_VM_IP
# AZURE_VM_USER
# AZURE_VM_SSH_KEY